body {
    font-family: Arial;
    margin: 20px;
    background-color: rgba(125, 140, 204, 0.3);
}
form {
    max-width: 400px;
    margin-right: 0;
}
label {
    display: block;
    margin-top: 10px;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}
button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #26358d;
    color: white;
    cursor: pointer;
}
button[type="reset"] {
    background-color: #25116e;
}
button:hover {
    opacity: 0.8;
}
